<section>
    <div class="container">

        <form action="" id="checkout-form">

             <div style="border: 1px solid; padding: 35px 35px; margin: 80px 10px;"
                class="checkout col-md-5 float-right">
                <h4>Total Amount : $ {{initial_price}}</h4>
                <h5>Payment Method</h5>
                    <label for="online">Online Payment</label><br>
                </div>

                <button type="submit" style="width: 100%;" class="btn btn-primary py-2 text-centered">Submit</button>
            </div>

        </form>

    </div>
</section>